<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.transport.mapper.SenderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.transport.domain.Sender">
    <result column="id" property="id" />
        <result column="sender_name" property="senderName" />
        <result column="identity_no
identity_no" property="identityNo
identityNo" />
        <result column="company_name" property="companyName" />
        <result column="sender_phone" property="senderPhone" />
        <result column="bank_card_no" property="bankCardNo" />
        <result column="bank_card_type" property="bankCardType" />
        <result column="cardholder" property="cardholder" />
        <result column="data_change_create_time" property="dataChangeCreateTime" />
        <result column="data_change_last_time" property="dataChangeLastTime" />
    </resultMap>

</mapper>
