<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.transport.mapper.TransportOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.transport.domain.TransportOrder">
    <result column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="order_status" property="orderStatus" />
        <result column="user_id" property="userId" />
        <result column="transport_pay_type" property="transportPayType" />
        <result column="transport_fee" property="transportFee" />
        <result column="is_collect_amount" property="isCollectAmount" />
        <result column="collect_amount" property="collectAmount" />
        <result column="operator_id" property="operatorId" />
        <result column="transport_method" property="transportMethod" />
        <result column="is_packaging" property="isPackaging" />
        <result column="packaging_fee" property="packagingFee" />
        <result column="data_change_create_time" property="dataChangeCreateTime" />
        <result column="data_change_last_time" property="dataChangeLastTime" />
    </resultMap>

</mapper>
